{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="loyalty-points-container body">
    <h1>Welcome, {{ request.user.username }}</h1>
    <p>You currently have <strong>{{ loyalty_points.points }}</strong> loyalty points available.</p>
    {% if loyalty_points.points == 0 %}
        <p>You don't have any points yet. Start shopping to earn points!</p>
    {% else %}
        <p>Your points are worth: €{{ loyalty_points.points|floatformat:2 }}</p>
        
           
    {% endif %}
</div>
{% endblock %}