html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('../media/horseandfoal.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #555;
    font-family: 'Bodoni';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #445261;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #445261;
    color: white;
    border-radius: 5px !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: white;
    color: #445261;
    border: 1px solid #445261
}

.text-black {
    color: #445261 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #445261;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/* Underline effect for main nav items */
.navbar-nav .nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #445261;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar-nav .nav-item:hover::after {
    width: 100%;
    left: 0;
}

/* Ensure the header doesn't overlap the content */
.header-container {
    position: relative;
    z-index: 10;
}

/* Add padding to push content down from the top */
.content-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Adjust the column layout and initial positioning */
.col-12.col-lg-6.my-auto {
    margin: 0 auto !important;
    transform: translateY(-100px);
}

.h-100 {
    height: auto !important;
    max-height: 100vh;
}

.weekly-bargain-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 350px;
    margin-right: auto;
}

/* Weekly Bargain Content */
.weekly-bargain-content h2 {
    color: #445261;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
}

.weekly-bargain-content h3 {
    color: #445261;
    font-size: 1.2rem;
    margin-top: 15px;
    text-align: center;
}

.weekly-bargain-content p {
    color: #445261;
    margin-bottom: 15px;
    text-align: center;
    /* Centered for consistency */
}

/* Primary Button Styling */
.weekly-bargain-content .btn-primary {
    background-color: #445261;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
}

.weekly-bargain-content .btn-primary:hover {
    background-color: white;
    border-color: #445261;
    color: #445261;
}

/* Shop Now Button */
.shop-now-button {
    margin-top: 30px;
    font-size: 1rem;
    padding: 12px 20px;
    border-radius: 5px !important;
    background-color: #445261;
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.shop-now-button:hover {
    background-color: white;
    color: #445261;
    border: 1px solid #445261;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
}

/* button on products page to bring back to the top */
.btt-button {
    height: 32px;
    width: 32px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #445261;
}


.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #445261;
    color: white !important;
}

/* Toast CSS */
.message-container {
    background-color: white;
    color: black;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 9999999;
}

.custom-toast {
    overflow: visible;
}

.toast_capper {
    height: 2px;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Alllauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #445261;
}

.allauth-form-inner-content {
    border-color: #343a40;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #445261;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #445261;

    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #445261;
    background-color: white;
    border-color: #445261;
}

.allauth-form-inner-content a {
    color: #445261;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-radius: 0;
}

/* Responsive adjustments */
@media (max-width: 991px) {

    .navbar-nav .nav-item::after {
        display: none;

    }

    .dropdown-menu {
        opacity: 1;
        transform: none;
        visibility: visible;
        box-shadow: none;
    }


}

/*  Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}



/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}



/* Adjust layout on large screens */
@media (min-width: 992px) {

    .shop-now-container,
    .weekly-bargain-container {
        margin-bottom: 20px;
    }
}

@media (max-width:991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.tex-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.01rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;

    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;

    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

/* Push the content down from the header */
.review-comment-container {

    padding-top: 10px;
}

/* Align the outline with the background */
.review-container {
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #445261;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

/* Style individual card bodies */
.custom-border {
    border: 1px solid #445261;
    border-radius: 5px;
    padding: 20px;
}

.text-white {
    color: white;
}

/* Adjust spacing for mobile and large screens */
@media (min-width: 992px) {
    .review-comment-container {
        margin-top: 120px;
    }
}

@media (min-width: 426px) {
    .review-comment-container {
        margin-top: 200px;
    }
}


/* review page styling */
.review-container {
    max-width: 600px;
    margin-top: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    color: white;

}

/* delete confirmation message */
.delete-container {
    margin-top: 300px !important;
}

@media (min-width: 996px) {

    .h1,
    h1 {

        margin-top: 120px;
        color: #445261;
    }
}

.loyalty-points-container {
    max-width: 500px;
    margin: 250px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    text-align: center;

    /* Flexbox for alignment */
    display: flex;
    flex-direction: column;
    /* Stack elements vertically */
    justify-content: flex-start;
    /* Align items to the top */
    align-items: center;
    /* Center horizontally */

    height: 300px;
    /* Adjust height to fit your design */
    box-sizing: border-box;
    /* Include padding in height */
}

.loyalty-points-container h1,
.loyalty-points-container p {
    margin: 0;
    /* Remove any default margins on child elements */
    padding: 10px 0;
    /* Add padding if needed for spacing */
}

/* Footer styling */

.container {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
}

footer.custom-white {
    background-color: #445261 !important;
    position: relative;
    width: 100%;
    z-index: 10;
    color: white !important;
    border-top: 1px solid #ccc !important;
    margin-top: auto;
    padding: 10px;
}

a.footer.custom-white {
    
    color: white !important;
    
}
/* Ensure footer is pushed down with flexbox layout */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Main content area */
main {
    flex: 1;
}

.custom-edit-btn {
    background-color: #445261 !important;
    color: white !important;
    border-radius: 5px !important;
}

.custom-edit-btn:hover {
    background-color: white !important;
    border-color: #445261 !important;
    color: #445261 !important;
}

/* Contact Form styling */

.custom-contact-btn {
    background-color: #445261 !important;
    color: white !important;
    border-radius: 5px !important;
}

.custom-contact-btn:hover {
    background-color: white !important;
    color: #445261 !important;
}

/* Form wrapper styling */
.contact-form-wrapper {
    background-color: rgba(250, 250, 250, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

/* Message field styling */
textarea {
    height: 100px !important;
    resize: vertical;
}

/* Adjust form margins to fit nicely inside the wrapper */
.contact-form {
    margin: 0;
}

/* Ensure the form is positioned properly under the header */
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding-top: 20px;
}

/* Optional: To add some spacing between the form and other elements */
.contact-form {
    margin-top: 20px;
}

/* Optional: Header title spacing adjustments */
.page-title {
    margin-bottom: 20px;
}

/* Add space for larger screens (above 995px) */
@media (min-width: 996px) {
    .container {
        margin-top: 50px;
    }
}


/* Footer link styling */
footer.custom-white .footer-link {
    color: white;
    text-decoration: none;
}

footer.custom-white .footer-link:hover {
    text-decoration: underline;
}

@media (max-width:456px) {
    .header-container {
        padding-top: 146px;
    }

    body {
        height: calc(100vh - 146px);
    }
}

@media (max-width:370px) {
    .header-container {
        padding-top: 210px;
    }

    body {
        height: calc(100vh - 210px);
    }
}

/* Newsletter styling */
.newsletter-signup {
    display: flex;
    align-items: center;
    gap: 10px;

}

.newsletter-signup label {
    font-size: 14px;
}

.newsletter-signup input[type="email"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.newsletter-signup button {
    background-color: white;
    color: #445261;
    padding: 5px 10px;
    border: none;
    border-radius: 5px !important;
    cursor: pointer;
}

.newsletter-signup button:hover {
    background-color: #445261;
    color: white;
    border: 2px solid white;

}

.messages {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
    font-size: 12px;
}

.messages li {
    padding: 5px;
}

.suscribe-text-white {
    color: #ffffff;
    font-weight: bold;
}

.newsletter-signup .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.newsletter-signup .form-control {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 0;
}

.newsletter-signup .custom-primary-btn {
    flex-shrink: 0;
    margin-top: 0;
}

@media (max-width: 576px) {
    .newsletter-signup .form-group {
        flex-direction: column;
    }

    .newsletter-signup .form-control {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .newsletter-signup .custom-primary-btn {
        margin-top: 0;
    }
}

.heading-container {
    margin-top: -20px;
}

.col-md-6 {

    margin-bottom: 10px !important;

}

.custom-select {
    border-radius: 20px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8) !important;
    background-color: rgba(250, 250, 250, 0.6) !important;

}

.card {
    border-radius: 20px !important;
    overflow: hidden !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8) !important;
    background-color: rgba(250, 250, 250, 0.6) !important;
}

.image-container {
    border-radius: 20px !important;
    overflow: hidden !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8) !important;

}

.shopping-bag-img {
    border-radius: 20px !important;
    overflow: hidden !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8) !important;
    border: none !important;
}

.rounded-0 {
    border-radius: 10px !important;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    height: 280px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    text-align: center;
}

.card-footer {
    background-color: white;
}

/* Make images larger */
/* When hovering over the card, scale the container and the image */
.product-container .card:hover {
    transform: scale(1.6);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
    position: relative;
}

.product-container .card:hover .card-img-top {
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
}

/* Default styles for the card and image */
.card {
    transition: transform 0.3s ease-in-out;
}

.card-img-top {
    display: block;
    margin: auto;
    transition: transform 0.3s ease-in-out;
}

/* Signout button styling */
/* General Primary Button Styling */

.btn-outline-success {
    color: white;
    background-color: #445261;
    border: none;
}

.btn-outline-success:hover {
    color: #445261;
    background-color: white;
    border: 2px solid #445261;
}