<h6><strong>Bag Total: Euro {{ total|floatformat:2 }}</strong></h6>
<h6>Delivery: Euro {{ delivery|floatformat:2 }}</h6>
{% if points_applied %}
<p>Loyalty Points Applied: €{{ points_applied|floatformat:2 }}</p>
{% endif %}
<h4 class="mt-4"><strong>Grand Total: Euro {{ grand_total|floatformat:2 }}</strong></h4>
{% if free_delivery_delta > 0 %}
<p class="mb-1 text-danger">
    You could get free delivery by spending just <strong>{{ free_delivery_delta|floatformat:2 }}</strong> more!
</p>
{% endif %}