{% if loyalty_points %}
<div class="loyalty-points-section text-right mb-4">
    <p>You have <strong>{{ loyalty_points }}</strong> loyalty points available.</p>
    <p>These points are worth: <strong>€{{ loyalty_points|floatformat:2 }}</strong></p>
    <!-- Warning Message -->
    <div class="alert alert-warning" role="alert">
        <strong>Important:</strong> If you apply your loyalty points but do not complete the order, the points will be lost, as session details are deleted for security reasons.
    </div>
    <form method="POST" action="{% url 'apply_loyalty_points' %}">
        {% csrf_token %}
        <input type="hidden" name="points" value="{{ loyalty_points }}">
        <button type="submit" class="btn custom-edit-btn rounded-0 btn-sm w-10 my-2">Apply Loyalty Points</button>
    </form>
</div>
{% else %}
<div class="text-right mb-4">
    <p>No loyalty points available.</p>
</div>
{% endif %}

<div class="d-flex justify-content-end mt-4">
    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-sm mr-2">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>
    <a href="{% url 'checkout' %}" class="btn custom-edit-btn rounded-0 btn-sm">
        <span class="text-uppercase">Secure Checkout</span>
        <span class="icon">
            <i class="fas fa-lock"></i>
        </span>
    </a>
</div>
