html {
    height: 100%;
}

body {
    background: url('../media/horseandfoal.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Bodoni';
    
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #445261 ;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #445261;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #dcdee0;
    color: #445261;
    
}

.text-black {
    color: #445261 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #445261;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/* Underline effect for main nav items */
.navbar-nav .nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #445261;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar-nav .nav-item:hover::after {
    width: 100%;
    left: 0;
}


.weekly-bargain-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 30px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 300px; 
    margin-left: auto;
    margin-right: auto;
}

.weekly-bargain-content h2 {
    color: #445261;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem; 
    margin-bottom: 15px;
}

.weekly-bargain-content h3 {
    color: #445261;
    margin-top: 10px;
    font-size: 1.2rem; 
}

.weekly-bargain-content p {
    color: #445261;  
    margin-bottom: 10px;
}

.weekly-bargain-content .btn-primary {
    background-color: #445261;
    border-color: #445261;
    transition: background-color 0.3s ease;
    padding: 8px 16px; 
    font-size: 0.9rem;
}

.weekly-bargain-content .btn-primary:hover {
        
    color: #26bb48;        
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}


/* Responsive adjustments */
@media (max-width: 991px) {
    .navbar-nav .nav-item::after {
        display: none;
    }
    
    .dropdown-menu {
        opacity: 1;
        transform: none;
        visibility: visible;
        box-shadow: none;
    }
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}



/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}



/* Adjust layout on large screens */
@media (min-width: 992px) {
    .shop-now-container, .weekly-bargain-container {
        margin-bottom: 20px;
    }
}